<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <link rel="shortcut icon"  th:href="@{/resources/images/favicon.jpg}"  type="image/jpeg"/>
  <link th:href="@{/resources/css/default.css}" rel="stylesheet"/>
  <link th:href="@{/resources/css/jquery.ui.override.css}" rel="stylesheet"/>
  <link th:href="@{/resources/css/jquery.dataTables.css}" rel="stylesheet"/>
    
   <title>My Project</title>
     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		  <!--[if lt IE 9]>
		  <script src="js/html5shiv.min.js"></script>
		  <script src="js/respond.min.js"></script>
		  <![endif]-->
	<div th:replace="fragments/scripts"></div>
	<script src="../js/bootstrap-maxlength.min.js" th:src="@{/resources/js/bootstrap-maxlength.min.js}"></script>
	
 </head>
 <body>
    <!-- Preloader -->
<div id="preloader" >
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
		<div th:include="fragments/leftpanel"></div>
		<div class="mainpanel">
				<div th:include="fragments/header"></div>
				<div class="pageheader">
						<h2>
							<i class="fa fa-file-text"></i> Edit Project Status
						</h2>
				</div>
				<div class="contentpanel">
					<form id="createProjectFrm" class="form-horizontal form-bordered"  th:object="${status}" >
						<div class="panel  panel-default">
										<div class="panel-heading">
								              <div class="panel-btns">
									                  <a href="" class="minimize">&minus;</a>
										                </div>
						             		  <h4 class="panel-title">Report Summary</h4>
						             		  	<div class="panel-body panel-body-nopadding">	
						             		  			<div class="form-group" >
						             		  				 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 									<label class="col-sm-3 control-label">Report Date:</label>
			            		 									<div class="col-sm-8">
			            		 											<span  th:text="*{reportDateString}" class="form-control-static"/>
			            		 									</div>
						             		  			</div>
						             		  	
						             		  	</div>
							             </div>
							</div>
				</div>
				</form>
				    <div th:replace="fragments/projectSummaryView"></div>
				     <div th:replace="fragments/keyaccomplishment"></div>
				</div>
		</div>
</section>
 <script>
 $(document).ready(function(){
		$("li#myprojects").addClass("active");
	 });
</script>
</body>
</html>