<div class="leftpanel">
			 <div class="logopanel">
	      			  <h1><span>[</span> My Project <span>]</span></h1>
	    </div>
	     <div class="leftpanelinner">    
	     	
	     	  <div class="visible-xs hidden-sm hidden-md hidden-lg">   
		         <div class="media userlogged">
		                <div class="media-body">
		                    <h4>Niren Sinha</h4>
		                </div>
		            </div>
		          
		            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
		                   <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
		            </ul>
		        </div>
	     
	   		  <h5 class="sidebartitle">Navigation</h5>
	   		  <ul class="nav nav-pills nav-stacked nav-bracket">
	   		  		 <li id="dashboard"><a href="javascript;" th:href="@{/}"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
	   		    	 <li id="myprojects"><a href="javascript;" th:href="@{/project/}"><i class="fa fa-briefcase"></i> <span>My Projects</span></a></li>
	   		    	 <li id="allprojects"><a href="javascript;" th:href="@{/project/all}"><i class="fa fa-th-list"></i> <span>All Projects</span></a></li>
	   		  </ul>
	   		</div>
</div>
