<div class="form-group"  th:classappend="${#fields.hasErrors('name')}? 'has-error'">
			            		 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 	<label class="col-sm-3 control-label">Title:<span class="asterisk">*</span></label>
			            		 	
			            		 	<div class="col-sm-8">
										    <input type="text"  th:field="*{name}" class="form-control" />
										    <span class="help-block" th:if="${#fields.hasErrors('name')}"   th:errors="*{name}">Title is Required</span>

									 </div>
			            		 </div>
			             </div>
			               <div class="form-group">
			            	   <div class="col-xs-12 col-sm-6 col-md-8">
  								   		<label class="col-sm-3 control-label">Model:</label>
										 <div class="col-sm-4">
										         		 <select class="form-control"  >
										         		 	<option>Option 1</option>
										         		 	<option>Option 2</option>
										         		 	<option>Option 3</option>
										         		 </select>
										</div>
  								  </div>
			                 <div class="col-xs-6 col-md-4"  th:classappend="${#fields.hasErrors('ppm')}? 'has-error'">
  								   		<label class="col-sm-4 control-label">PPM ID:<span class="asterisk">*</span></label>
										 <div class="col-sm-4">
										         		 <input type="text"  class="form-control"  th:field="*{ppm}"  />
										         		 <span class="help-block" th:if="${#fields.hasErrors('ppm')}" th:errors="*{ppm}">PPM is Required</span>
										</div>
  							 </div>
			               </div>
			             <div class="form-group">
			            		 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 	<label class="col-sm-3 control-label">MER Name:</label>
			            		 	<div class="col-sm-8">
										    <input type="text"  class="form-control" th:field="*{merName}"/>
									 </div>
			            		 </div>
  								  <div class="col-xs-6 col-md-4">
  								   		<label class="col-sm-4 control-label">MER ID:</label>
										 <div class="col-sm-4">
										         		 <input type="text" class="form-control" th:field="*{mer}"/>
										</div>
  								  </div>
			             </div>
			             	 <div class="form-group">
			            		 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 	<label class="col-sm-3 control-label">Business Sponsor:</label>
			            		 	<div class="col-sm-8">
										    <input type="text" name="name" class="form-control" th:field="*{businessSponsor}"/>
									 </div>
			            		 </div>
			             </div>
			               	 <div class="form-group" th:classappend="${#fields.hasErrors('projectManager')}? 'has-error'">
			            		 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 	<label class="col-sm-3 control-label">Project Manager:</label>
			            		 	<div class="col-sm-8">
										    <input type="text"  class="form-control typeahead"   th:autocomplete="off"   id="projectManager" placeholder="Last Name, First Name" />
										    <input type="hidden"  class="form-control typeahead" name="projectManager"  id="projectManagerId"  th:field="*{projectManager}"/>
										    <span class="help-block" th:if="${#fields.hasErrors('projectManager')}" th:errors="*{projectManager}">Project Manager is required</span>
									 </div>
			            		 </div>
			             </div>
			              <div class="form-group">
			            	   <div class="col-xs-12 col-sm-6 col-md-8">
  								   		<label class="col-sm-3 control-label">Project Theme:</label>
										 <div class="col-sm-4">
										         		 <select class="form-control" >
										         		 	<option>Option 1</option>
										         		 	<option>Option 2</option>
										         		 	<option>Option 3</option>
										         		 </select>
										</div>
  								  </div>
			                 <div class="col-xs-6 col-md-4">
  								   		<label class="col-sm-4 control-label">Project Size:</label>
										 <div class="col-sm-4">
										         		 <select class="form-control" th:field="*{projectSize}" >
																		<option value="" >[--Select--]</option>
																		<option value="Small">Small</option>
																		<option value="Medium">Medium</option>
																		<option value="Large">Large</option>
										         		 </select>
										</div>
  							 </div>
			               </div>
			             <div class="form-group">
			            		 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 	<label class="col-sm-3 control-label">Business Objective:</label>
			            		 	<div class="col-sm-8">
										   <textarea id="autoResizeTA" class="form-control" rows="5" style="height: 90px;" th:field="*{objective}"></textarea>
									 </div>
			            		 </div>
			             </div>
			   <script>
			   $(document).ready(function(){
				   var id= $("#projectManagerId").val();
				   if(id > 0){
				  		 $.getJSON("/myproject/user/byID/"+id,function(data){
				  			$('#projectManager').val(data.fullName);
				  		 });
				   }
				   $('#projectManager').autocomplete({
					   minLength: 2,
					   source: function(request, response,term) {  
						   var param = request.term;  
						   $.ajax({  
			                    url: "/myproject/user/byFullName/"+param,  
			                    dataType: "json",  
			                    type:"GET",  
			                    success: function (data) {  
			                         response($.map(data, function(item) {  
			                             return {   
			                                 label: item.fullName,  
			                                 shform: item.id, //can add number of attributes here   
												};  
			                             }));//END Success  
			                        },  
			                });//END AJAX  
					   },  
			            select: function( event, ui ) { //   
			            	$("#projectManagerId").val( ui.item.shform);
			            }   
			        });     // End 
			   });
			   </script>