<form id="createProjectFrm" class="form-horizontal form-bordered"  th:object="${project}">
					<div class="panel  panel-default">
						<div class="panel-heading">
				              <div class="panel-btns">
					                  <a href="" class="minimize">−</a>
						                </div>
		             		  <h4 class="panel-title">Project Summary</h4>
			             </div>
			              <div class="panel-body panel-body-nopadding">	
		               				<div class="form-group" >
			            		 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 	<label class="col-sm-3 control-label">Title:</label>
			            		 	<div class="col-sm-8">
			            		 			<span  th:text="*{name}" class="form-control-static"/>
										 </div>
			            		 </div>
			             </div>
			               <div class="form-group">
			            	   <div class="col-xs-12 col-sm-6 col-md-8">
  								   		<label class="col-sm-3 control-label">Model:</label>
										 <div class="col-sm-4">
										 	<span  th:text="*{modelName}" class="form-control-static"/>
										</div>
  								  </div>
			                 <div class="col-xs-6 col-md-4"  th:classappend="${#fields.hasErrors('ppm')}? 'has-error'">
  								   		<label class="col-sm-4 control-label">PPM ID:</label>
  								   		
										 <div class="col-sm-4">
										  	<span  th:text="*{ppm}" class="form-control-static"/>
										</div>
  							 </div>
			               </div>
			             <div class="form-group">
			            		 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 	<label class="col-sm-3 control-label">MER Name:</label>
			            		 	<div class="col-sm-8">
										    <span  th:text="*{merName}" class="form-control-static"/>
									 </div>
			            		 </div>
  								  <div class="col-xs-6 col-md-4">
  								   		<label class="col-sm-4 control-label">MER ID:</label>
										 <div class="col-sm-4">
											  <span  th:text="*{mer}" class="form-control-static"/>
										 </div>
  								  </div>
			             </div>
			             	 <div class="form-group">
			            		 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 	<label class="col-sm-3 control-label">Business Sponsor:</label>
			            		 	<div class="col-sm-8">
										    <span th:text="*{businessSponsor}" class="form-control-static"/>
									 </div>
			            		 </div>
			             </div>
			               	 <div class="form-group" th:classappend="${#fields.hasErrors('projectManager')}? 'has-error'">
			            		 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 	<label class="col-sm-3 control-label">Project Manager:</label>
			            		 	<div class="col-sm-8">
			            		 	    <span id="projectManger" class="form-control-static"/>
			            		 	    <input type="hidden"  class="form-control" name="projectManager"  id="projectManagerId"  th:field="*{projectManager}"/>
									 </div>
			            		 </div>
			             </div>
			              <div class="form-group">
			            	   <div class="col-xs-12 col-sm-6 col-md-8">
  								   		<label class="col-sm-3 control-label">Investment Theme:</label>
										 <div class="col-sm-4">
										   				<span th:text="*{investment}" class="form-control-static"/>
										</div>
  								  </div>
			                 <div class="col-xs-6 col-md-4">
  								   		<label class="col-sm-4 control-label">Project Size:</label>
										 <div class="col-sm-4">
										 	<span th:text="*{size}" class="form-control-static"/>
										</div>
  							 </div>
			               </div>
			             <div class="form-group">
			            		 <div class="col-xs-12 col-sm-6 col-md-8">
			            		 	<label class="col-sm-3 control-label">Business Objective:</label>
			            		 	<div class="col-sm-8">
			            		 		<span th:text="*{objective}" class="form-control-static"/>
									 </div>
			            		 </div>
			             </div>

				</div>
			        </div>
					</form>
	<script th:inline="javascript">
	$(document).ready(function(){
		var pmurl = /*[[@{/user/byID}]]*/;
		 var id= $("#projectManagerId").val();
		 $.getJSON(pmurl+"/"+id,function(data){
			   $("#projectManger").text(data.fullName);
		   });
		 });
	</script>